nav{
  border-bottom: 1px solid #3c4354;
}
.container-fluid{
  margin-right: 78px;
  height: 70px;
  float: left;
}
.item-list li a{
  float: left;
  height: 66px;
  line-height: 66px;
  text-align: center;
  cursor: pointer;
  color: #9ea7b4;
  font-size: 16px;
  text-decoration: none;
  padding: 0 30px;
}
.item-list li a.active{
  border-bottom: 4px solid #3886e1;
  color: #ffffff;
  box-shadow: #3ad25a;
}
.item-list li a:hover{
  border-bottom: 4px solid #3886e1;
  color: #ffffff;
  box-shadow: #3ad25a;
}

.logo {
  vertical-align: top;
}

.navLinks {
  margin: 0;
}

@media (min-width: 1400px) {
  .navLinkItem {
    width: 150px;
  }
}

.navLinkItem.active {
  background: url(../images/top-nav-item-bg.png) bottom center no-repeat;
  background-size: 100% 50%;
}


.navLink{
  text-decoration: none;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  color: #9ea7b4;
  padding: 0 20px;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.navLink:hover{
  /*border-bottom: 4px solid #3886e1;*/
  color: #ffffff;
  /*height: 63px;*/
}
.navLink .icon {
  display: inline-block;
  vertical-align: middle;
}
.navLink .active-icon.icon {
  display: none;
}
.navLink.active .icon,
.navLink:hover .icon {
  display: none;
}
.navLink.active .active-icon,
.navLink:hover .active-icon {
  display: inline-block;
  vertical-align: middle;
}
.navLink.active{
  /*border-bottom: 4px solid #3886e1;*/
  color: #ffffff;
  /*height: 63px;*/
}

.navLink::after {
  transition: all 0.3s;
  width: 0;
}

.navLink.active::after, .navLink:hover::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #6856f3, #3886e1);
}

/*login menu css*/
.menu-login li{
  float: left;
  height: 70px;
  line-height: 70px;
  color: #9ea7b4;
  text-align: center;
}
.menu-login li:last-child{
  width: 100px;
}

.breadcrumb {
  padding-left: 30px;
}
.breadcrumb li{
  float: left;
  font-size: 14px;
  color: #9ea7b4;
}
.breadcrumb .section{
  cursor: pointer;
}
.breadcrumb .active{
  color: #ffffff;
}

/*header css*/
header{
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #3c4354;
}
